<div class="desktop-soundcloud" ng-click="setNowPlaying()">
	<div class="desktop-soundcloud-background" style="background: url({{backgroundImage}})"></div>
	<div class="desktop-soundcloud-background-overlay"></div>
	<div class="desktop-soundcloud-tile-content">
		<img src="{{backgroundImage}}">
	</div>
	<div class="desktop-tiles-track-title">{{title}}</div>
	<share-track color="'white'" google="'true'" facebook="'true'" twitter="'true'" mail="'true'" track="pickedTrack" cssClass="'desktop-tiles-share'"></share-track>
</div>