.desktop-tiles-share {
	position: absolute;
	bottom: 50px;
	font-size: 20px;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;	
}

.desktop-tiles-share li {
	padding: 0px 15px;
	-webkit-transition:0.3s;	
	-moz-transition:0.3s;	
	transition:0.3s;	
	cursor: pointer;	
}

.desktop-tiles-share li:hover {
	text-shadow: 0 0 5px white;
	-webkit-transition:0.3s
	-moz-transition:0.3s
	transition:0.3s;
}