/*Top header*/

.bar.bar-stable {
	background: rgba(19,19,19,1);
	background: -moz-linear-gradient(top,rgba(19,19,19,1)0%,rgba(28,28,28,.23)77%,rgba(17,17,17,.17)83%,rgba(89,88,89,.11)89%,rgba(89,88,89,0)100%);
	background: -webkit-gradient(left top,left bottom,color-stop(0%,rgba(19,19,19,1)),color-stop(77%,rgba(28,28,28,.23)),color-stop(83%,rgba(17,17,17,.17)),color-stop(89%,rgba(89,88,89,.11)),color-stop(100%,rgba(89,88,89,0)));
	background: -webkit-linear-gradient(top,rgba(19,19,19,1)0%,rgba(28,28,28,.23)77%,rgba(17,17,17,.17)83%,rgba(89,88,89,.11)89%,rgba(89,88,89,0)100%);
	background: -o-linear-gradient(top,rgba(19,19,19,1)0%,rgba(28,28,28,.23)77%,rgba(17,17,17,.17)83%,rgba(89,88,89,.11)89%,rgba(89,88,89,0)100%);
	background: -ms-linear-gradient(top,rgba(19,19,19,1)0%,rgba(28,28,28,.23)77%,rgba(17,17,17,.17)83%,rgba(89,88,89,.11)89%,rgba(89,88,89,0)100%);
	background: linear-gradient(to bottom,rgba(19,19,19,1)0%,rgba(28,28,28,.1)77%,rgba(17,17,17,.03)83%,rgba(89,88,89,0)89%,rgba(89,88,89,0)100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#595859', GradientType=0 );
}

.mobile-hamburger {
	color: white;
	position: absolute;
	right: 0;
	font-size: 20px;
	right: 10px;
	top: 11px;	
}
/*Bottom tabs*/
.active-tab {
	color:red !important;
}
.bar .title { 
	left:0 !important;
	right:0 !important;
	color: white !important;
	margin:auto;
	width:100px;
	background: rgba(1,1,1,0.2);
	box-shadow: 0 0 19px rgba(1,1,1,0.7);	
}
.tabs {
	color: #fff;
	background: rgba(1,1,1,1);
	box-shadow: 0 0 26px rgba(1,1,1,1);
	height: 43px!important;
}
.tabs-icon-top .tab-item {
	font-size: 10px;
	line-height: 10px;
}
.tab-item .icon {
	display: block;
	margin: 0 auto;
	height: 25px;
	font-size: 25px;
}
/*Ion content*/
.has-header {
	top: 0px;
	bottom:0px;
}

