<ion-view title="Booking">
	<ion-content id="global-ion-content">
	<div id="booking-container">
		<h1>Thanks for Checking me out. Shoot me an email if you have any questions, or if you would like me to perform at your venue.</h1>
		<input	type="text" placeholder="Name" id="booking-input">
		<input	type="text" placeholder="Phone Number" id="booking-input">		
		<textarea id="booking-textarea" placeholder="Message"></textarea>
		<button id="booking-submit">Hit me up</button>
	</div>
	</ion-content>
</ion-view>