<div class="landing-container">
  <div class="background-video-container">
    <div></div>
    <video muted id="background-video" width="{{dimensions.width + 500}}" height="{{dimensions.height + 500}}" id="stanzaVideoDesktop" src="https://dff2h0hbfv6w4.cloudfront.net/ZAXSCDVF12345/ikeda-lost" preload="auto"></video>
  </div>
  <span class='ion-ios-play-outline play-icon-landing animation-transitions' ng-class="{'show-landing-play-button':(showLandingPlayButton)}"></span>
  <div class="play-button-container"></div>
  <div class="landing-content">
    <h1 class="animation-transitions-long" ng-class="{'show-name': (showIkedaName)}">IKEDA</h1>
    <div class="circle animation-transitions-long" ng-class="{'show-landing-circle': (showLandingCircle)}">
      <div class="line left animation-transitions-long" ng-class="{'show-landing-lines': (showLandingLines)}"></div>
      <div class="line right animation-transitions-long" ng-class="{'show-landing-lines': (showLandingLines)}"></div>
    </div>
    <ul>
      <li ng-mouseenter="hoverLandingLinks('music')" ng-class="{'hover-link':(currentHoverLink === 'music'), 'show-landing-link': (showLandingLink > 0)}" ng-mouseleave="currentHoverLink = ''" class="animation-transitions animation-transitions-long">
        Music
        <div class='animation-transitions'></div>
      </li>
      <li ng-mouseenter="hoverLandingLinks('about')" ng-class="{'hover-link':(currentHoverLink === 'about'), 'show-landing-link': (showLandingLink > 1)}" ng-mouseleave="currentHoverLink = ''" class="animation-transitions animation-transitions-long">
        About
        <div class='animation-transitions'></div>
      </li>
      <li ng-mouseenter="hoverLandingLinks('booking')" ng-class="{'hover-link':(currentHoverLink === 'booking'), 'show-landing-link': (showLandingLink > 2)}" ng-mouseleave="currentHoverLink = ''" class="animation-transitions animation-transitions-long">
        Bookings
        <div class='animation-transitions'></div>
      </li>
    </ul>
  </div>
</div>
