<span class="ion-navicon-round menu-icon pointer" ng-class="{'black-text':(showSideNav === 'true'), 'black-border-right':(showSideNav === 'true')}" ng-mouseenter="showSideNavToggle()"></span>
<span id="sub-text" ng-class="{'black-text':(showSideNav === 'true')}">ARTIST - PRODUCER - ENTREPRENEUR</span>
	
<div id="desktop-side-nav" ng-class="{'show-side-nav':(showSideNav === 'true')}">
	<ul>
		<li ng-mouseenter="goToDesktopRoute('home')"><span class="ion-planet"></span>HOME</li>
		<li ng-mouseenter="goToDesktopRoute('music')"><span class="ion-headphone"></span>MUSIC</li>
		<li ng-mouseenter="goToDesktopRoute('booking')"><span class="ion-clipboard"></span>BOOKINGS</li>
		<li><span class="ion-social-buffer"></span>ABOUT ME</li>
		<li><span class="ion-pricetags"></span>SOCIAL</li>
	</ul>
	<div id="cut-line"></div>
	<h1>IKEDA</h1>
</div>





